/*
COMPONENT CLASSES
*/
.hide {
    display: none;
}

/*
FOCUSABLE_COMPONENT CLASES
*/

.focused {
}

/**
LOG CLASSES
 */
.error {
    font-weight: bold;
    color: red;
}

.warn {
    color: yellow;
}

.emphasis {
    font-weight: bold;
}

.log-console {
}