/*
COMPONENT CLASSES
*/
.hide {
    display: none;
}

/*
TEXT COMPONENT CLASSES
*/
.textComponent {
    overflow: hidden;
}

.textComponent div.center {
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    position: relative;
}

/*
FOCUSABLE_COMPONENT CLASES
*/

.focused {
}

/**
* LOG CLASSES
*/
.log-component {
    border: 1px solid lightgrey;
}

.log-component .line {
    padding: 2.5px 5px;
}

.error {
    font-weight: bold;
    color: red;
}

.warn {
    color: #ff9403;
}

.emphasis {
    font-weight: bold;
}

/*
BUTTON CLASES
*/

.button {
    cursor: pointer;
    border: 1px solid lightgrey;
}

.button div{
    font-weight: bold;
}

.button.focused {
    font-weight: bolder;
    border: 1px solid black;
}

/*
BALL CLASES
*/
.ball {
    border-radius: 50%;
    border: 1px solid black;
}
